<div class="row mt-5 mb-5">
    <div class="col-md-8  mx-auto">
         <div class="card mt-10">
             <div class="card-body">
                 <div class="">
                      <table id="employeeTable" class="display" style="width:100%">
                           <thead>
                              <tr>
                                <th>Name</th>
                                <th>Scheduled Hours</th>
                                <th>Pay Rate</th>
                                <th>Total Hours</th>
                            </tr>
                            </thead>
                            <!--this is where we need to get the information from each user-->
                            <tbody>
                                {{#each users}}
                                <tr>
                                    <td>{{this.Name}}</td>
                                    <td>{{this.scheduledHrs}}</td>
                                    <td>{{this.payRate}}</td>
                                    <td>{{this.estimateTotalPay}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>