<!-- Modal -->
<div id="modal"> 
    <div class="modalcontent">
        <h1>Your email has been registered! <hr><br></h1>
        <h5>You should receive an email news letter confirmation from us shortly!</h5>
        <button type="button" class="btn btn-primary mt-2" id="closeModal">close</button>
    </div>
</div>