<div class = "footer-background">
    <div id = "footer-location">
        <div class ="container">
            <div class = "col-lg-12">
                <div class = "row">
                    <h6>Conceptualized, developed and owned by The Schedulizers: Josh Arnett, Andy Forbes, Darren Key, Kevin Murtaugh.</h6>
                    
                        <div id= "footer-rights">All rights reserved.
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>