<div class = "footer-background">
    <div id = "footer-location">
        <div class ="container">
            <div class = "col-lg-12">
                <div class = "row">
<<<<<<< HEAD
                    <h6>Conceptualized, developed and owned by The Schedulizers: Josh Arnett, Andy Forbes, Darren Kay & Kevin Murtaugh.</h6>

                        <h7 id= "footer-rights">All rights reserved.
                        </h7>
=======
                    <h6>Conceptualized, developed and owned by The Schedulizers: Josh Arnett, Andy Forbes, Darren Key, Kevin Murtaugh.</h6>
                    
                        <div id= "footer-rights">All rights reserved.
                        </div>
>>>>>>> b558a5053a80b74e090f4d270c6ca9edb48578a4
                </div>
            </div>
        </div>
    </div>
</div>