<footer class= "page-footer bg-secondary text-light fixed-bottom mb-0 py-4">
    <div class="container container-fluid text-center text-sm-left">
        <div id="footer-location">
            <div class="footer-background ">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Conceptualized, developed and owned by The Schedulizers: Josh Arnett, Andy Forbes, Darren Kay & Kevin
                            Murtaugh.
                        </p>    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto my-2 pb-4">
                        <p>&copy; Schedulizer  All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>