<!--<div class = "footer-background">
    <div id = "footer-location">
        <div class ="container">
            <div class = "col-lg-12">
                <div class = "row">
                    <h6 class="text-center">Conceptualized, developed and owned by The Schedulizers: Josh Arnett, Andy Forbes, Darren Kay & Kevin Murtaugh.</h6>
                    <h7 id= "footer-rights">All rights reserved.</h7>
                </div>
            </div>
        </div>
    </div>
</div> -->