<footer class= "page-footer bg-dark text-light fixed-bottom mb-0 pb-0">
    <div class="container container-fluid text-center text-sm-left">
        <div id="footer-location">
            <div class="footer-background ">

                <div class="row"></div>
                <div class="col-lg-12 text-center">

                    <div id="footer-verbiage">
                        <p>Conceptualized, developed and owned by The Schedulizers: Josh Arnett, Andy Forbes, Darren Kay & Kevin
                            Murtaugh.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-md-4 text-muted text-center">
                        <em><p>Schedulizer: &reg;, &copy; All rights reserved.</p></em>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>