<div class = "footer-background">
    <div id = "footer-location">
        <div class ="container">
            <div class = "col-lg-12">
                <div class = "row">
                    <div id="footer-verbiage">
                        <h6>Conceptualized, developed and owned by The Schedulizers: Josh Arnett, Andy Forbes, Darren Kay & Kevin Murtaugh.</h6>
                    </div>
                    <div id= "footer-rights">
                        <h7>Schedulizer: tm, (c). All rights reserved.</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>