<div id="adminNewsLetter"> 
    <div class="adminModalContent">
        <div class ="contactContainer">
            <div style="text-align:center">
                <h2>Send your news letter</h2>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form action="dashboard" method="post">
                        <label for="subject"><strong>Message to news letter subscribers</strong></label>
                        <textarea id="subject" name="subject" placeholder="Write something.." style="height:300px"></textarea>
                        <input type="submit" value="Submit" id="adminNewsLtrBtn">
                        <button type="button" class="btn btn-danger btn-lg" id="closeAdminModal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>