
<!-- <div class = "container">    -->
    <div id= "features-background">
        <h2> Set, track and distribute weekly shifts.</h2>
        <div class = "container">
            <div id= "features-pic">
                <a href="/public/img"><img src="./img/featuresrev03.png" class = "features-pic">
                <br>
                <h3>Schedulizer Features!</h3>
                <br></a>
            </div>
        </div>
        <div id= "featureslistrev1">
            <ul><h4>Rev.01</h4><br>

            <li>Encryption /Authentication/access token for users</li>
            <li><h6>Owner /manager /Admin</h6></li>
            <li>full access –add /update /delete employees (name, email, phone, hourly rate)</li>
            <li>-Able to schedule employee total shifts on a weekly basis</li>
            <li><h6>Employee</h6></li>
            <li>-login with password, personal information maintained /encrypted</li>
            <li>-can see entire week’s schedule</li>
            <li>-integrates with google calendar</li>
            <li><h4>Rev.01.5</h4></li>
            <li><h6>Restaurant OWNER /Manager /admin</h6></li>
            <li> -schedule employee shifts on a MULTI-week basis</li>
            <li>-multi-week totals for hours /employee, cost /shift</li>
            <li><h6>Employee</h6></li>
            <li> --trade shifts with other employees</li>
            <li> --request vacation /off time</li>
            <li><h4>Rev.02</h4></li>
            <li>-refactor code to support additional venues</li>
            <li>--sporting /entertainment events, etc.</li>
            <li>--Multi-Location /multi-franchise</li>
            <li>--payroll accounting, add YTD totals, tax accounting, etc.</li>
            <li>--touch screen support</li>
            <li><h6>Restaurant OWNER /Manager /admin</h6></li>
            <li>-schedule employee across multiple locations /franchises</li>
            <li><h6>Employee</h6>h6></li>
            <li>--can trade shifts with other employees</li>
            <li>-schedule vacations, sick leave</li>
            <li><h5>
            <li>ADDITIONAL FEATURES UPON REQUEST!!</li>
              

        </div>
    </div>
<!-- </div>