
<!-- <div class = "container">    -->
    <div id= "features-background">
        <h2> Set, track and distribute weekly shifts.</h2>
        <div class = "container">
            <div id= "features-pic">
                <a href="/public/img"><img src="./img/featuresrev03.png" class = "features-pic">
                <br>
                <h3>Schedulizer Features!</h3>
                <br></a>
            </div>
        </div>
        <div id= "featureslistrev1">
            <p><h4>Rev.01</h4><br>
            Encryption /Authentication/access token for users
            Owner /manager /Admin<br><br>
            full access –add /update /delete employees (name, email, phone, hourly rate)<br>
            -Able to schedule employee total shifts on a weekly basis<br><br>
            Employee<br>
            -login with password, personal information maintained /encrypted<br>
            -can see entire week’s schedule<br>
            -integrates with google calendar</p>
             <p><h4>Rev.01.5</h4><br>
             Restaurant OWNER /Manager /admin<br>
             -schedule employee shifts on a MULTI-week basis<br>
             -multi-week totals for hours /employee, cost /shift<br><br>
             Employee<br>
             --trade shifts with other employees<br>
             --request vacation /off time</p>
              <p><h4>Rev.02</h4><br>
              -refactor code to support additional venues<br>
              --sporting /entertainment events, etc.<br>
              --Multi-Location /multi-franchise<br>
              --payroll accounting, add YTD totals, tax accounting, etc.<br>
              --touch screen support<br><br>
              Restaurant OWNER /Manager /admin<br>
              -schedule employee across multiple locations /franchises<br><br>
              Employee<br>
              --can trade shifts with other employees<br>
              -schedule vacations, sick leave</p>
              <p>ADDITIONAL FEATURES UPON REQUEST!!</p>
              

        </div>
    </div>
<!-- </div>