
    <div class="container mt-5">
        <div class="jumbotron bg-dark">
            <div class="text-light mb-5">
                <h3 class="display-3"><img src="/img/calendar.png" alt="" class="navbar-img__logo mr-2"> Schedulizer: </h3>
                <hr>
                <p class="lead ml-5 pl-5"> The "Easy Button" for scheduling staff.</p>
            </div>
            <div class="row text-light">
                <div class="col-md-4 border-right text-center lead">
                    <p>Set, track and distribute weekly shifts.</p>
                </div>
                <div class="col-md-4 border-right text-center lead">
                    <p>All in one place, all at one time.</p>
                </div>
                <div class="col-md-4 text-center lead">
                    <p>Spend more time managing your business...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card mb-5">
                <div class="card-header">
                    <h3>
                        <center>Schedulizer Features</center>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">Easy-to-use Management Tools</h5>
                            <p class="card-text">Create full staff schedules without any hassle. Just fill out the scheduling form to create your businesses schedule on a weekly, daily, or monthly basis. </p>
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <image src="./img/addShift2.png" width="100%"></image>
                                    </div>
                                    <div class="carousel-item">
                                        <image src="./img/addShift3.png" width="100%"></image>
                                    </div>
                                    <div class="carousel-item">
                                        <image src="./img/addShift5.png" width="100%"></image>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h5 class="card-title">Communication Made Simple</h5>
                            <p class="card-text">Built-in functionality to help clients with sending messages to Employees. There are options for a one-touch newsletter, as well as the ability tosend employee's their schedule via SMS messaging or Email</p>
                            <image src="./img/newsletterForm.png" width="100%"></image>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">Customized To Your Needs</h5>
                            <p class="card-text">Options for any account to format their schedules how they want. As well as options for managerment to easily communicate with employees or meet their needs.</p>
                            <image src="./img/scheduleSettings.png" width="100%"></image>
                        </div>
                        <div class="col-md-6">
                            <h5 class="card-title">Makes Staff Organization a Breeze</h5>
                            <p class="card-text">With robust tools for account creatation we offer any client the abiltiy to effortlessly setup accounts for their buisness and options for three levels of authorization: Admin, Manager, and Employee</p>

                            <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <image src="./img/createEmployee.png" width="100%"></image>
                                    </div>
                                    <div class="carousel-item">
                                        <image src="./img/employeeView.png" width="100%"></image>
                                    </div>
                                    <div class="carousel-item">
                                        <image src="./img/reportPage.png" width="100%"></image>
                                    </div>
                                </div>
                                <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


