<div id = "features-background">
    <div class = "container">
         <div class = "row">
             <div class ="col-lg-12">
                <h2 class = "features-title"> Set, track and distribute weekly shifts.</h2>
            </div>
        </div>
        <div class= "row">
            <div class= "col-med-6"> 
                <h3>Schedulizer Features!</h3>
                    <ul>
                        <h4>Rev.01 (original scope)</h4>
                            <li>Encryption /Authentication/access token for users</li>
                        <h6><br>Owner /manager /Admin</h6>
                            <li>Add /update /delete employees (name, email, phone, hourly)</li>
                            <li>Able to schedule employee total shifts on a weekly basis</li>
                        <h6><br>Employee</h6>
                            <li>Login/password, personal information maintained /encrypted</li>
                            <li>See entire week’s schedule</li>
                            <li>Integrates with google calendar</li>
                    </ul>
            </div>
            <div class= "col-med-6">
                <div id= "features-pic">
                    <a href="/public/img"><img src="./img/featuresrev06.png" class = "features-pic">
                    </a>
                </div>
            </div>

        <div class = "row">
            <div class= "col-med-6">
                <ul>
                    <h4><br>Rev.1.5 (updated scope)</h4>
                    <h6><br>Restaurant Owners /Manager /admin</h6>
                        <li> Schedule employee shifts on a MULTI-week basis</li>
                        <li>Multi-week totals for hours /employee, cost /shift</li>
                    <h6><br>Employee</h6>
                        <li>Trade shifts with other employees</li>
                        <li>Tequest vacation /off time</li>
                    <br><br>
                </ul>
            </div>
            <div class= "col-med-6"></div>
                <ul>
                    <h4><br>Rev.02 </h4>
                        <li>Refactor code to support additional venues</li>
                        <li>Sporting /entertainment events, etc.</li>
                        <li>Multi-Location /multi-franchise</li>
                        <li>Payroll accounting, add YTD totals, tax accounting, etc.</li>
                        <li>Touch screen support</li>
                    <h6><br>Restaurant OWNER /Manager /admin</h6>
                        <li>Schedule employee across multiple locations /franchises</li>
                    <h6><br>Employee</h6>
                        <li>Can trade shifts with other employees</li>
                        <li>Schedule vacations, sick leave</li>
                </ul>
            </div>
        </div>

   </div>


                </div>
            </div>
        </div>
            <div class= "row">
 <div id= "featureslistrev1">
  
         
            </div>
        </div>
        
      
     
            <li>ADDITIONAL FEATURES UPON REQUEST!!</li>
              

        </div>
    </div>
<!-- </div>