<div class="dashboard-container">
    <div class="row mt-4">
       <div class="col-lg-9">
            <div class="card bg-light mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="col-md-3">
                        <h5>Employee Schedule</h5> 
                    </div>
                </div>
                <div class="card-body">
                   {{#ifCond user.isAdmin '||' user.isManager}}
                        <div id='managersCalendar'></div>
                    {{else}}
                        <div id='employeesCalendar'></div>
                    {{/ifCond}}
                </div>
                <div class="loader"></div>
                <div class="card-after"></div>
            </div>   
       </div>
       <div class="col-lg-3">
           {{#ifCond user.isAdmin '||' user.isManager}}
            <div class="card bg-light mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5>Schedule Status</h5>  
                </div>
                <div class="card-body">
                   <form>
                        <div class="form-check">
                            <input class="form-check-input mt-2" type="radio" name="scheduleStatus" id="draftStatus" value="draft" checked>
                            <label class="form-check-label" for="draftStatus"><button class="btn btn-secondary draftStatusBtn btn-sm mb-3" disabled>Draft Status</button></label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input mt-2" type="radio" name="scheduleStatus" id="publishedStatus" value="published">
                            <label class="form-check-label" for="publishedStatus"><button class="btn btn-success publishStatusBtn btn-sm mb-3" disabled>Published Status</button></label>
                        </div>
                        <div class="form-group">
                            <label for="comment">Manager Comments</label>
                            <textarea name="comments" id="comments" cols="10" rows="4" class="form-control"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block updateStatus" type="submit" disabled>Update Status</button>    
                   </form> 
                </div>
                <div class="loader schedStatLoader"></div>
                <div class="card-after"></div>
            </div>
            {{/ifCond}}

            <div class="card commentCard" style="display: none">
                <div class="card-body text-center">
                    <h4>Manager Comments:</h4>
                    <p class="managerComments"></p>
                </div>
            </div> 
       </div> 
   </div>    
</div>
        

   
    




