<div class="container">
   <div class="row mt-4">
       <div class="col-md-12">
            <div class="card bg-light mb-3">
              <div class="card-header">Employee Schedule</div>
              <div class="card-body">
                <div id='calendar'></div>
              </div>
            </div>   
       </div>
   </div>
    
</div>




