<div class="lp__header">
    <div class="lp__cta-container">
        <div class="lp__cta-headline text-light">
            <div class="lp__cta-logo">
                <img src="./img/calendar.png" alt="" class="lp__cta-img__logo">
            </div>
            <h2 class="display-4">Main CTA headine</h2>
            <h3 class=" cta__sec-heading">Secondary Tag Line goes here</h3>
            <button class="btn btn-secondary mt-2">CTA Button Here</button>
        </div>
    </div>
   
</div>
 <div class="lp__cta-newsletter bg-dark text-light py-4 text-center">
        <div class="col-md-6 mx-auto">
            <p>FILLER TEXT GOES HERE ABOUT JOINING OUT NEWSLETTER</p>
            <form action="/" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="newsLetterEmail">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="newsLetter">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
