<!-- Modal -->
<div id="modal"> 
    <div class="modalcontent">
            <h1>Your email has been registered! <hr><br></h1>
            <h5>You should receive an email news letter confirmation from us shortly!</h5>
            <button type="button" class="btn btn-primary mt-2" id="closeModal">close</button>
    </div>
</div>

<div class="lp__header">
    <div class="lp__cta-container">
        <div class="lp__cta-headline text-light">
            <div class="lp__cta-logo">
                <img src="./img/calendar.png" alt="" class="lp__cta-img__logo">
            </div>
            <h1 class="display-4">Schedulizer:</h1>
            <h4 class="display-5">The "Easy Button" for scheduling staff</h4>
            <h5 class=" cta__sec-heading">All in one place, all at one time.</h5>
            <button class="btn btn-secondary mt-2">Create an Account</button>
        </div>
    </div>
   
</div>
 <div class="lp__cta-newsletter bg-dark text-light py-4 text-center">
        <div class="col-md-6 mx-auto">
            <p>Join our newsletter to hear about development updates and new features!</p>
            <form action="/" method="post">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" placeholder="Enter email" name="newsLetterEmail" id="emailInput">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit" id="newsLetterBtn">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

