
<div class="lp__header">
    <div class="lp__cta-container">
        <div class="lp__cta-headline text-light">
            <div class="lp__cta-logo">
                <img src="./img/calendar.png" alt="" class="lp__cta-img__logo">
            </div>
            <h1 class="display-4">Schedulizer</h1>
            <h4 class="display-5">The "Easy Button" for scheduling staff</h4>
            <h5 class=" cta__sec-heading">All in one place, all at one time.</h5>
            <button class="btn btn-outline-primary mt-2 ctaBtn">Discover Schedulizer</button>
        </div>
    </div>

    <div class="lp_cta_image">
        <image src="./img/compscreen2.png" width="1000px"></image>
    </div>

</div>
 <div class="lp__cta-newsletter bg-secondary text-light py-4 text-center">
    <div class="col-md-6 mx-auto">
        <p>Join our newsletter to hear about development updates and new features!</p>
        <form action="/" method="post" id="emailForm">
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Enter email" name="newsLetterEmail" id="emailInput">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" id="newsLetterBtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>


