<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h3><strong>Add shift</strong></h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">Select Department</h5>
            <div class="row">
                <div class="col-md-6">
                    <select class="chosen-select" id="department">
                        <option value="FOH">FOH</option>
                        <option value="BOH">BOH</option>
                    </select>
                </div>
                <div class="col-md-6">
                     <h5>Add Employee</h5>
                     <select class="chosen-select" id="department">
                        <option value="Employees">Employees</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>