<div id = "pricing-background">
    <div class = "container">
        <div class = "row">
            <div class ="col-lg-12">
                <div id = "headlines-centered">
                    <h1 class = "features-title"> Schedulizer Markets and Pricing</h2>
                    </h1>
                 </div>
            </div>
        </div>
        <div class= "row">
            <div class= "col-med-6"> 
                <div id= "headlines-centered">
                    <h3>Schedulizer Markets</h3>
                </div>
                    <ul>
                        <h4>Restaurants & Related Facilities</h4>
                            <li>Single Solution for all employees</li>
                            <li>Simplify managing shifts across locations.</li>
                            <li>Complete Visibility for management </li>
                            <li>Subscritpion model is Cost-effective even for small operations</li>
                            <li>Zero additional IT build-out needed</li>
                            <li>Help Desk Support Available(*)</li>
                    </ul>
            </div>
            <div class= "col-med-6">
                <div id= "features-pic">
                    <a href="/public/img"><img src="./img/featuresrev06.png" class = "features-pic">
                    </a>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class= "col-med-6">
                <ul>
                    <h4>Scales /Converts Easily to Other Markets</h4>
                        <li>Stadium /Arena</li>
                        <li>Amusement Parks</li>
                        <li>Hotel /Motel</li>
                        <li>Convention Center</li>
                        <li>Office Building Staff</li>
                     <br><br>
                </ul>
            </div>
            <div class= "col-med-6">
                <ul>
                    <h4><br>Additional Opportunities: </h4>
                    <h6>Plug-in module for existing solutions:</h6>
                        <li>SalesForce</li>
                        <li>Oracle</li>
                        <li>SAP</li>
                        <li>Quicken /TurboTax /...</li>
                        <li>Microsoft Office</li>
                        <li>Android /iOS Market</li>
                </ul>
            </div>
        </div>
        <div class= "row">
            <div class= "col-lg-12">
                <h1><center>ADDITIONAL FEATURE$ UPON REQUE$T!!</center></h1>
            </div>
        </div>
         <div class= "row">
            <div class= "col-lg-12">
                <br>
                <h3>For feature updates and company news, subscribe to our <a href="www.schedulizer.com"> newsletter</a></h3>
                <br>
                <h3>For subscription and licensing details, please contact: <a href="mailto:kmmurtaugh@gmail.com">sales@schedulizer.com</a></h3>
                
            </div>
        </div>
   </div>
</div>
     


